<option th:value="'Kauno r.'">Kauno r.</option>
<option th:value="'Kauno m.'">Kauno m.</option>
<option th:value="'Vilniaus r.'">Vilniaus r.</option>
<option th:value="'Vilniaus m.'">Vilniaus m.</option>
<option th:value="'Klaipėdos r.'">Klaipėdos r.</option>
<option th:value="'Klaipėdos m.'">Klaipėdos m.</option>
<option th:value="'Alytus r.'">Alytus r.</option>
<option th:value="'Alytus m.'">Alytus m.</option>
<option th:value="'Palangos r.'">Palangos r.</option>
<option th:value="'Palangos m.'">Palangos m.</option>
<option th:value="'Šiaulių r.'">Šiaulių r.</option>
<option th:value="'Šiaulių m.'">Šiaulių m.</option>
<option th:value="'Anykščių r.'">Anykščių r.</option>
<option th:value="'Anykščių m.'">Anykščių m.</option>
<option th:value="'Akmenės r.'">Akmenės r.</option>
<option th:value="'Akmenės m.'">Akmenės m.</option>
<option th:value="'Biržų r.'">Biržų r.</option>
<option th:value="'Biržų m.'">Biržų m.</option>
<option th:value="'Birštono r.'">Birštono r.</option>
<option th:value="'Birštono m.'">Birštono m.</option>
<option th:value="'Druskininų r.'">Druskininų r.</option>
<option th:value="'Druskininų m.'">Druskininų m.</option>
<option th:value="'Elekrėnų r.'">Elekrėnų r.</option>
<option th:value="'Elekrėnų m.'">Elekrėnų m.</option>
<option th:value="'Ignalinos r.'">Ignalinos r.</option>
<option th:value="'Ignalinos m.'">Ignalinos m.</option>
<option th:value="'Jonavos r.'">Jonavos r.</option>
<option th:value="'Jonavos m.'">Jonavos m.</option>
<option th:value="'Joniškio r.'">Joniškio r.</option>
<option th:value="'Joniškio m.'">Joniškio m.</option>
<option th:value="'Jurbarko r.'">Jurbarko r.</option>
<option th:value="'Jurbarko m.'">Jurbarko m.</option>
<option th:value="'Kaišiadorių r.'">Kaišiadorių r.</option>
<option th:value="'Kaišiadorių m.'">Kaišiadorių m.</option>
<option th:value="'Kalvarijos r.'">Kalvarijos r.</option>
<option th:value="'Kalvarijos m.'">Kalvarijos m.</option>
<option th:value="'Kazlų Rūdos r.'">Kazlų Rūdos r.</option>
<option th:value="'Kazlų Rūdos m.'">Kazlų Rūdos m.</option>
<option th:value="'Kėdainių r.'">Kėdainių r.</option>
<option th:value="'Kėdainių m.'">Kėdainių m.</option>
<option th:value="'Kelmės r.'">Kelmės r.</option>
<option th:value="'Kelmės m.'">Kelmės m.</option>
<option th:value="'Kretingos r.'">Kretingos r.</option>
<option th:value="'Kretingos m.'">Kretingos m.</option>
<option th:value="'Kupiškio r.'">Kupiškio r.</option>
<option th:value="'Kupiškio m.'">Kupiškio m.</option>
<option th:value="'Lazdijų r.'">Lazdijų r.</option>
<option th:value="'Lazdijų m.'">Lazdijų m.</option>
<option th:value="'Marijampolės r.'">Marijampolės r.</option>
<option th:value="'Marijampolės m.'">Marijampolės m.</option>
<option th:value="'Mažeikių r.'">Mažeikių r.</option>
<option th:value="'Mažeikių m.'">Mažeikių m.</option>
<option th:value="'Molėtų r.'">Molėtų r.</option>
<option th:value="'Molėtų m.'">Molėtų m.</option>
<option th:value="'Neringos r.'">Neringos r.</option>
<option th:value="'Neringos m.'">Neringos m.</option>
<option th:value="'Pagėgių r.'">Pagėgių r.</option>
<option th:value="'Pagėgių m.'">Pagėgių m.</option>
<option th:value="'Pakruojo r.'">Pakruojo r.</option>
<option th:value="'Pakruojo m.'">Pakruojo m.</option>
<option th:value="'Panevėžio r.'">Panevėžio r.</option>
<option th:value="'Panevėžio m.'">Panevėžio m.</option>
<option th:value="'Pasvalio r.'">Pasvalio r.</option>
<option th:value="'Pasvalio m.'">Pasvalio m.</option>
<option th:value="'Plungės r.'">Plungės r.</option>
<option th:value="'Plungės m.'">Plungės m.</option>
<option th:value="'Radviliškio r.'">Radviliškio r.</option>
<option th:value="'Radviliškio m.'">Radviliškio m.</option>
<option th:value="'Raseinių r.'">Raseinių r.</option>
<option th:value="'Raseinių m.'">Raseinių m.</option>
<option th:value="'Rietavo r.'">Rietavo r.</option>
<option th:value="'Rietavo m.'">Rietavo m.</option>
<option th:value="'Rokiškio r.'">Rokiškio r.</option>
<option th:value="'Rokiškio m.'">Rokiškio m.</option>
<option th:value="'Skuodo r.'">Skuodo r.</option>
<option th:value="'Skuodo m.'">Skuodo m.</option>
<option th:value="'Šakių r.'">Šakių r.</option>
<option th:value="'Šakių m.'">Šakių m.</option>
<option th:value="'Šilalės r.'">Šilalės r.</option>
<option th:value="'Šilalės m.'">Šilalės m.</option>
<option th:value="'Širvintų r.'">Širvintų r.</option>
<option th:value="'Širvintų m.'">Širvintų m.</option>
<option th:value="'Švenčionių r.'">Švenčionių r.</option>
<option th:value="'Švenčionių m.'">Švenčionių m.</option>
<option th:value="'Tauragės r.'">Tauragės r.</option>
<option th:value="'Tauragės m.'">Tauragės m.</option>
<option th:value="'Telšių r.'">Telšių r.</option>
<option th:value="'Telšių m.'">Telšių m.</option>
<option th:value="'Trakų r.'">Trakų r.</option>
<option th:value="'Trakų m.'">Trakų m.</option>
<option th:value="'Ukmergės r.'">Ukmergės r.</option>
<option th:value="'Ukmergės m.'">Ukmergės m.</option>
<option th:value="'Utenos r.'">Utenos r.</option>
<option th:value="'Utenos m.'">Utenos m.</option>
<option th:value="'Varėnos r.'">Varėnos r.</option>
<option th:value="'Varėnos m.'">Varėnos m.</option>
<option th:value="'Vilkaviškio r.'">Vilkaviškio r.</option>
<option th:value="'Vilkaviškio m.'">Vilkaviškio m.</option>
<option th:value="'Visagino r.'">Visagino r.</option>
<option th:value="'Visagino m.'">Visagino m.</option>
<option th:value="'Zarasų r.'">Zarasų r.</option>
<option th:value="'Zarasų m.'">Zarasų m.</option>