<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<body style="
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;">


<title>Estate& | ERROR</title>

<div>
    <h1 style="margin-bottom: 1rem; margin-top: 3rem; font-size: 1.5rem;" >Something Went Wrong.. </h1>

        <h1 style="margin-bottom: 1rem; margin-top: 1rem; font-size: 3rem;" >400</h1>

</div>

<div>
    <img class="rounded" th:src="@{/images/sadcat2.jpg}" alt="sadCat" style="width: 20rem; height: 25rem; margin: 1rem;" >
</div>


<div>
    <a th:href="@{/public/properties}">Back To Main Page</a>
</div>

</body>
</html>