<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <title >Rental -- All Properties</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link th:href="@{/styles/cssandjs/mdb.min.css}" rel="stylesheet"/>

<style>
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
</style>



</head>



<body style="
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;">


<div th:replace="fragments/fragments :: html"></div>


 <hr/>

        <form th:action="@{/private/favourites/add/{id}(id=*{id})}" method="post" style="display: inline; height:100px;">
            <button class="ok" type="submit" style="min-width: 72px; height: auto; display: inline-block; vertical-align: top; border: none; background: none;">
                <i class="fas fa-heart" style="display: block; font-size: 23px;"></i>
                <span th:text="#{addToFavouritesKey}"></span>
            </button>
        </form>
            <button th:onclick="copyToClipboard()" class="ok" type="submit" style="min-width: 72px; height: auto; display: inline-block; vertical-align: top; border: none; background: none;">
                 <i class="fas fa-share" style="display: block; font-size: 23px;"></i>
                 <span th:text="#{shareLinkKey}"></span>
           </button>


<div th:object="${property}" style="margin-bottom:1.5rem;">
</div>

<div style="height: 37rem; width:50rem; margin-bottom: 2rem;" id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <div style="height: 50rem; width:50rem; " class="carousel-inner">

    <div class="carousel-item active">
           <img th:src="${property.getImages().stream().findAny().get().getPhotosImagePath()}" alt=">:(" style="height: 35rem; width: 40rem;" >
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>

    <div class="carousel-item">
           <img th:src="${property.getImages().stream().findAny().get().getPhotosImagePath()}" alt=">:(" style="height: 35rem; width: 40rem;" >
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>

    <div class="carousel-item">
           <img th:src="${property.getImages().stream().findAny().get().getPhotosImagePath()}" alt=">:(" style="height: 35rem; width: 40rem;" >
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  </div>
    <div th:object="${property}" style="background-color:; margin-bottom:2rem;">
        <h2 th:text="*{price} + €" ></h2>
    </div>

   <hr/>

    <div th:object="${property}" style="background-color: ;">
        <div style="display:inline; background-color: #e3a4a4;">
          <h4 style="display:inline; font-weight: normal; font-size: 20px; margin-left: 40px; " th:text="#{cityKey}"></h4>
        </div>
        <div >
          <h3 style="margin-top: 7px; font-size: 25px; font-weight: bold; margin-left: 20px; "></h3>
        </div>
    </div>

    <div th:object="${property}" style="background-color: ;">
        <div style="display:inline; background-color: #e3a4a4;">
            <h4 style="display:inline; font-weight: normal; font-size: 20px; margin-left: 40px;" th:text="#{countryKey}"></h4>
        </div>
        <div >
            <h3 style=" margin-top: 7px; font-size: 25px; font-weight: bold; margin-left: 20px;"></h3>
        </div>
    </div>

   <hr/>

    <div th:object="${property}" style="background-color: ;">
        <p th:text="*{description}"></p>
    </div>

 <hr/>

<nav id="copyAlert" hidden class="navbar fixed-bottom opacity-75">
    <div style="z-index: -1;  position: absolute; height: 5rem; width: 100%; text-align: center;">
        <div class="alert" style=" font-color: black; border: none; background-color: #DDFFC6;" role="alert" th:text="#{page.urlKey}">
            <span aria-hidden="true">&times;</span>
        </div>
    </div>
</nav>


</body>

<script>
  function copyToClipboard() {
  navigator.clipboard.writeText(window.location.href);
  document.getElementById("copyAlert").hidden = false;
  setTimeout(() => {
    document.getElementById("copyAlert").hidden = true;
     }, 2000)
 }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/styles/cssandjs/js/mdb.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>




</html>
